$color-error: #a40000;
$color-border: #999;

.wp-block-rave-initiative-tracker {
	padding: 1rem;

	.characters {
		display: flex;

		[class^='character-list'] {
			flex: 1;
		}

		ul {
			list-style-position: inside;
			padding: 0.5rem;
		}
	}

	.edit-character-form {
		border: 1px solid $color-border;
		border-radius: 4px;
		margin: 0.5rem 0;
		padding: 0.5rem;

		.input-error {

			label {
				color: $color-error;
			}

			input {
				border-color: $color-error;
			}
		}
	}
}

.wp-block-rave-initiative-tracker,
.edit-character-modal {

	.edit-character-buttons {
		display: flex;
		justify-content: space-evenly;
	}
}
