.wp-block-rave-rpg-initiative-tracker {
	margin: 1rem 0;

	h2 {
		margin-bottom: 0;
	}

	.characters {

		ul {
			list-style-type: circle;
			padding-bottom: 0;
		}
	}

	.character {

		&.current {
			list-style-type: disclosure-closed;
		}
	}
}
