.wp-block-rave-initiative-tracker {
	margin: 1rem 0;

	h2 {
		margin-bottom: 0;
	}

	.characters {

		ul {
			list-style-type: circle;
			padding-bottom: 0;
		}
	}

	.character {

		&.current {
			list-style-type: none;
			position: relative;

			&::before {
				content: '\00BB';
				font-size: 3rem;
				left: -2rem;
				line-height: 2.5rem;
				position: absolute;
			}
		}
	}

	.next-character {
		margin: 0.5rem 0;
	}
}
